
li {
    display: inline-block;
}

.ohm-outer {
    position: relative;
    overflow: hidden;
    height: 320px;  /* selector.top + 20px * (帯10個 + なし1個) */
    border: dotted 1px Gray;
}

.ohn-nums {
    position: absolute;
    width: 100%;
    top: 0px;       /* jQueryで変化させる */
}

.ohm {
    height: 20px;
    text-align: center;
}

.selector {
    position: absolute;
    width: 100%;
    top: 100px;     /* 20px * 5個(帯の縦位置中央) */
    border: solid 2px Blue;
    z-index: 9999;
}

.ohm.ohm-0 {
    background-color: Black;
}

.ohm.ohm-1 {
    background-color: Brown;
}

.ohm.ohm-2 {
    background-color: Red;
}

.ohm.ohm-3 {
    background-color: Orange;
}

.ohm.ohm-4 {
    background-color: Yellow;
}

.ohm.ohm-5 {
    background-color: Green;
}

.ohm.ohm-6 {
    background-color: Blue;
}

.ohm.ohm-7 {
    background-color: Purple;
}

.ohm.ohm-8 {
    background-color: Gray;
}

.ohm.ohm-9 {
    background-color: White;
}

.ohm.ohm-G {
    background-color: Gold;
}

.ohm.ohm-S {
    background-color: Silver;
}

.ohm.ohm-N {
    border: dotted 1px Black;
}
