
li {
    display: inline-block;
}

.color-outer {
    position: relative;
    overflow-y: hidden;
    height: 320px;  /* selector.top + 20px * (帯10個 + なし1個) */
    border: dotted 1px Gray;
}

.colors {
    position: absolute;
    width: 100%;
    top: 0px;       /* jQueryで変化させる */
}

.resistor {
    height: 20px;
    text-align: center;
}

#selector {
    position: absolute;
    width: 100%;
    left: -1px;
    top: 122px;     /* 20px * 5個(帯の縦位置中央) */
    border: solid 2px Blue;
    z-index: 9999;
}
.selector {
    position: absolute;
    width: 100%;
    top: 100px;     /* 20px * 5個(帯の縦位置中央) */
    /* border: solid 2px Blue; */
    z-index: 9999;
}

.resistor.color-0 {
    background-color: Black;
    color: White;
}

.resistor.color-1 {
    background-color: Brown;
    color: White;
}

.resistor.color-2 {
    background-color: Red;
    color: White;
}

.resistor.color-3 {
    background-color: Orange;
}

.resistor.color-4 {
    background-color: Yellow;
}

.resistor.color-5 {
    background-color: Green;
    color: White;
}

.resistor.color-6 {
    background-color: Blue;
    color: White;
}

.resistor.color-7 {
    background-color: Purple;
    color: White;
}

.resistor.color-8 {
    background-color: Gray;
    color: White;
}

.resistor.color-9 {
    background-color: White;
}

.resistor.color-G {
    background-color: Gold;
}

.resistor.color-S {
    background-color: Silver;
}

.resistor.color-N {
    border: dotted 1px Black;
    color: Gray;
}
